@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('idroid/IDroid.otf')
    format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ab;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    
    --fonte-padrão: Arial, Verdana, sans-serif;
    --fonte-android: 'Android', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}




img {
    width: 100%;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}

header > h1 {
    font-family: var(--fonte-android);
    padding: 30px 0px 20px 0px;
}

header > p {
    padding: 3px 0px 2px 0px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    text-shadow: 0px 7px 7px black;
    
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
    border-radius: 5px;
}

main {
    background-color: white;
    margin: auto;
}

article {
    padding: 20px 30px 20px 30px;
    text-align: justify;
}

article > h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
}

article > h2 {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    padding: 0px 10px;
}

p {
    text-indent: 20px;
    padding: 15px 10px 15px 0px;
    line-height: 1.5em;
    font-size: 1em;
}

strong {
    color: var(--cor1);
}

main a {
    background-color: var(--cor1);
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 10px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

a.externo::after {
    content: "\1F517";
}

div.video {
    background-color: var(--cor5);
    padding: 10px;
    position: relative;
}

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px black;
}

aside h3 {
    background-color: var(--cor4);
    color: #ffff;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
    
}

aside > ul {
    columns: 2;
    list-style-type: "\2714\00A0";
    list-style-position: inside;
}

main {
    border-radius: 0px 0px 15px 15px;

}

footer {
    text-align: center;
    background-color: var(--cor5);
    padding: 5px 0px 5px 0px;
    margin: 20px 0px -20px 0px;
   
}

footer > a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    font-weight: bolder;
    text-shadow: 10px 10px 10px black;
    
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}


